{% extends 'base.html.twig' %}

{% block title %}Inscription - Would You Rather ?{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div style="min-width: 75vw;">
            <h1>Inscription !</h1>
            <p>Vous avez déjà un compte ? <a href="#">Connexion !</a></p>
            <hr>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button type="submit" class="btn btn-primary d-block w-100">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
